body {
  width: 100%;
}

#root {
  width: 100%;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Header {
  position: fixed;
  top: 0px;
  background-color: aqua;
  padding: 10px;
  width: inherit;
}
.nav_label {
  position: absolute;
  left: -99999999px;
}

.Nav {
  background-color: rgb(43, 40, 40);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 100px;
  width: 83%;
}
.nav_input {
  height: 67%;
  align-self: center;
  border-radius: 7px;
  border: none;
  height: 35px;
  text-indent: 10px;
  margin-left: 10px;
  outline: none;
}
input::placeholder {
  font-size: 16px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

ul a {
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
  display: flex;
  align-items: stretch;
}

li :hover {
  display: flex;
  justify-content: stretch;
  background-color: azure;
  color: grey;
}

form {
  display: flex;
}
.content {
  margin-top: 170px;
}
.app_container {
  margin: auto;
  width: 80%;
}

.footer {
  background-color: aqua;
  padding-left: 10px;
  /* padding: 5px; */
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  width: inherit;
}

.route-components {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post_list {
  border: 1px solid rgb(189, 236, 236);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 7px;
  background-color: azure;
  color: black;
}

li div {
  margin-top: 5px;
}

.post_button {
  border: none;
  background-color: antiquewhite;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
}

article a {
  text-decoration: none;
}

article {
  /* background-color: azure; */
  border-bottom: 2px solid grey;
}

.delete_button {
  background-color: red;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 5px;
}

.go_back_button {
  margin-top: 20px;
  background-color: blue;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 5px;
}

.post_main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 40px;
}
.post_form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}

.post_label {
  color: black;
  font-size: 20px;
  margin: 10px 0px;
}

.post_input {
  height: 50px;
  border: 1.5px solid bla ck;
  border-radius: 10px;
  font-size: 18px;
  text-indent: 10px;
  outline: none;
}
.post_textarea {
  border: 1.5px solid black;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-indent: 10px;
}

.post_button {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: black;
}

.missing_main {
  display: flex;
  flex-direction: column;
}

.foooter_paragraph {
  font-size: 18px;
  font-weight: bold;
}

.footer_main {
  display: flex;
  flex-direction: column;
}

.editpost_notFound {
  display: flex;
  flex-direction: colmn;
}

.about_main {
  display: flex;
  flex-direction: column;
}
